## Assignment 2

In this assignment you will explore data injestion, data storage and basic DataFrame manipulation. ALso you are expected to complete a Mini Project.

You have been provided with several datafiles both for your testing and they are the files that I will utilize when evaluating your assignment. 

Each problem asks you to write a single function. The functions are designed to build on one another, so you should utilize earlier functions as part of the solution to later functions. 

All functions receive all of the information that need to operate from their parameters. Other information may be generated within the function. Besides calling other functions, you should not reference any other infromation that exists outside of your  functions. Print statements can be used for debugging purposes but should not be included in your final solutions. All functions should return something as specified in the problem.

Each function **MUST** be fully documented using appropriate documenting technique as described in the lecture.

Include all of your datafiles in the same folder that your Jupyter Notebook resides. **Do not** add any additional path information to your filenames.

You must upload all your notebook files on GITHUB and PDF File on Canvas. I will be evaluating your actual .ipynb files on GUTHUB

#### 1. Problem **read_data**

Write a function called **read_data**.

This function should accept a single parameter which I will refer to as **filename**

**filename** will be a complete description of a filename with a name, a dot, and a 3 letter extensions. For example the filename could be "hockey.xlsx" or "hockey.xls" which would also imply that it is an excel. file. Other extensions that you need to support include .json, .csv, .txt (all text files will use vertical bars | as a separator between data). 

The function will return a Pandas dataframe with the data in the file. For the purposes of this function all excel files will be single sheet with easily read in data, you can also assume that the header column of excel files will always be 0.

In [ ]:
#Begin Problem 1 Solution Here

import pandas as pd  
import os 

def read_data(filename):
    cwd = os.getcwd()  
    filepath = os.path.join(cwd, filename) 

    if filename.endswith('.xlsx'):  
        data = pd.read_excel(filepath)  
    elif filename.endswith('.json'):  
        data = pd.read_json(filepath) 
    elif filename.endswith('.csv'):  
        data = pd.read_csv(filepath)  
    elif filename.endswith('.txt'):  
        with open(filepath, 'r') as f: 
            data = pd.read_csv(f, delimiter='\t')  
    else: 
        raise ValueError("Unsupported file format")  

    return data

In [94]:
df = read_data("hockeyplayers.xlsx")

In [126]:
df2 = read_data("nested_data.json")

In [127]:
df3 = read_data("network_data.txt")

In [128]:
df4 = read_data("Neural_data.csv")

In [131]:
df.head()

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,1,Women,Canada,Meghan,Agosta,148,5'7,1987-02-12,Ruthven,Ont.,Forward,35,5.583333,67,23
1,2,Women,Canada,Rebecca,Johnston,148,5'9,1989-09-24,Sudbury,Ont.,Forward,32,5.750000,69,22
2,3,Women,Canada,Laura,Stacey,156,5'10,1994-05-05,Kleinburg,Ont.,Forward,28,5.833333,70,22
3,4,Women,Canada,Jennifer,Wakefield,172,5'10,1989-06-15,Pickering,Ont.,Forward,33,5.833333,70,25
4,5,Women,Canada,Jillian,Saulnier,144,5'5,1992-03-07,Halifax,N.S.,Forward,30,5.416667,65,24

In [132]:
df2.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN

In [133]:
df3.head()

,id_visitor,id_session,dim_session_number,dim_user_agent,dim_device_app_combo,ds,ts_min,ts_max,did_search,sent_message,...,next_id_session,next_dim_session_number,next_dim_user_agent,next_dim_device_app_combo,next_ds,next_ts_min,next_ts_max,next_did_search,next_sent_message,next_sent_booking_request
0,ed1329a6-064d-47e9-93bc-93f5a50822df,a8dfb8ed5aa79e00ff14b2da297c9778,83,Airbnb/6.0 iPhone/8.1.2,iPhone - iOS,2015-02-16,2015-02-16 21:50:41,2015-02-16 22:13:42,0,0,...,b812bf56bf89b0b31f4e5b50d0c15ff8,84.0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-18,2015-02-18 11:57:15,2015-02-18 12:12:48,0.0,0.0,0.0
1,ed1329a6-064d-47e9-93bc-93f5a50822df,950277daef16f86dc2c05d2b212eea81,84,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-18,2015-02-18 11:57:15,2015-02-18 12:12:48,0,0,...,456083b5f5506ad125d595006819de1d,85.0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-18,2015-02-18 13:02:13,2015-02-18 13:05:36,0.0,0.0,0.0
2,ed1329a6-064d-47e9-93bc-93f5a50822df,ee4e2f99dd0c0bef2d40e4bdf880c862,85,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-18,2015-02-18 13:02:13,2015-02-18 13:05:36,0,0,...,94d30e9f3c8f92ae691e49d77a884777,86.0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-18,2015-02-18 14:18:17,2015-02-18 14:28:47,0.0,0.0,0.0
3,ed1329a6-064d-47e9-93bc-93f5a50822df,59fbde7b5d35403116c461fa7fc1ab6e,86,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-18,2015-02-18 14:18:17,2015-02-18 14:28:47,0,0,...,ab02139dc81bea4b126cf5043faf53d9,87.0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-19,2015-02-19 12:24:57,2015-02-19 12:24:59,0.0,0.0,0.0
4,ed1329a6-064d-47e9-93bc-93f5a50822df,ec8972a3c7256ea4dcba61ee2bd9e3a8,87,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-19,2015-02-19 12:24:57,2015-02-19 12:24:59,0,0,...,6a69db1a5876e9798947f20e2c52bcc8,88.0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,Desktop - Chrome,2015-02-19,2015-02-19 22:21:58,2015-02-19 22:22:02,0.0,0.0,0.0

In [134]:
df4.head()

,Intensity_MassDisplacement_PI,Intensity_MaxIntensityEdge_DAPI,Intensity_MaxIntensityEdge_PI,Intensity_MaxIntensity_DAPI,Intensity_MaxIntensity_PI,Intensity_MeanIntensityEdge_DAPI,Intensity_MeanIntensityEdge_PI,Intensity_MeanIntensity_DAPI,Intensity_MeanIntensity_PI,Intensity_MedianIntensity_DAPI,...,Intensity_MinIntensityEdge_PI,Intensity_MinIntensity_DAPI,Intensity_MinIntensity_PI,Intensity_StdIntensityEdge_DAPI,Intensity_StdIntensityEdge_PI,Intensity_StdIntensity_DAPI,Intensity_StdIntensity_PI,Intensity_UpperQuartileIntensity_DAPI,Intensity_UpperQuartileIntensity_PI,Number_Object_Number
0,0.071353,0.056657,0.039338,0.148211,0.042130,0.040214,0.035751,0.085337,0.036167,0.092348,...,0.031388,0.031815,0.031388,0.005757,0.001566,0.029094,0.001507,0.107881,0.037224,1
1,0.127836,0.054536,0.038636,0.157321,0.040787,0.039137,0.032968,0.089130,0.035318,0.090578,...,0.028016,0.029816,0.027481,0.005620,0.002464,0.036908,0.002593,0.121820,0.037316,2
2,0.105791,0.068132,0.034424,0.120699,0.035325,0.052591,0.030549,0.078406,0.031173,0.079522,...,0.027512,0.038941,0.027512,0.007579,0.001566,0.019099,0.001467,0.092367,0.032090,3
3,0.144962,0.043870,0.036103,0.133516,0.036927,0.031724,0.032415,0.071058,0.033550,0.072862,...,0.028748,0.026749,0.028748,0.003096,0.001483,0.030482,0.001442,0.096674,0.034585,4
4,0.148326,0.055924,0.038834,0.142733,0.038834,0.041327,0.033576,0.083392,0.034231,0.085504,...,0.028244,0.031708,0.028153,0.005773,0.002650,0.030331,0.002118,0.110895,0.035672,5

### 2. Problem **write_data**

Write a function called **write_data**.

This function will accept two parameters: a DataFrame called **df** and a **filename** (with extension).

The function will determine the appropriate file type based on the extension of **filename** and write the contents of the DataFrame to that file.  

For the purposes of this function, you can assume that your data frame will not have index names although this is irrelevent for .json files (index = False) and that if you write to a text file that you will use a "|" as a separator.

This function should return True when finished. There are some circumstances where a write function might return False if it failed to write the file correctly, but here there is nothing computed to return so returning True just keeps us consistent with having functions reutrn values.

In [3]:
#Begin Problem 2 Solution Here
def write_data(df, filename):
    ext = os.path.splitext(filename)[1]  
    if ext == '.xlsx':  
        df.to_excel(filename, index=False)  
    elif ext == '.json': 
        df.to_json(filename, orient='records')  
    elif ext == '.csv': 
        df.to_csv(filename, index=False, sep='|')  
    elif ext == '.txt':  
        df.to_csv(filename, index=False, sep='|')  
    else: 
        raise ValueError(f"Unsupported file format: {ext}")  
    return True

In [5]:
#End Problem 2 Solution Here

In [139]:
df5.head()

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,1,Women,Canada,Meghan,Agosta,148,5'7,540086400000,Ruthven,Ont.,Forward,35,5.583333,67,23
1,2,Women,Canada,Rebecca,Johnston,148,5'9,622598400000,Sudbury,Ont.,Forward,32,5.750000,69,22
2,3,Women,Canada,Laura,Stacey,156,5'10,768096000000,Kleinburg,Ont.,Forward,28,5.833333,70,22
3,4,Women,Canada,Jennifer,Wakefield,172,5'10,613872000000,Pickering,Ont.,Forward,33,5.833333,70,25
4,5,Women,Canada,Jillian,Saulnier,144,5'5,699926400000,Halifax,N.S.,Forward,30,5.416667,65,24

In [140]:
write_data(df, "hockey_player.csv")

In [141]:
df6 = read_data("hockey_player.csv")

In [142]:
df6.head()

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,1,Women,Canada,Meghan,Agosta,148,5'7,1987-02-12,Ruthven,Ont.,Forward,35,5.583333,67,23
1,2,Women,Canada,Rebecca,Johnston,148,5'9,1989-09-24,Sudbury,Ont.,Forward,32,5.750000,69,22
2,3,Women,Canada,Laura,Stacey,156,5'10,1994-05-05,Kleinburg,Ont.,Forward,28,5.833333,70,22
3,4,Women,Canada,Jennifer,Wakefield,172,5'10,1989-06-15,Pickering,Ont.,Forward,33,5.833333,70,25
4,5,Women,Canada,Jillian,Saulnier,144,5'5,1992-03-07,Halifax,N.S.,Forward,30,5.416667,65,24

#### 3. Problem **copy_data**

Write a function called **copy_data** that takes two filenames called **f1** and **f2** as parameters and copies the data from **f1** into **f2**.

For the purposes of this problem, the function should read the contents of **f1** into a DataFrame and then write the contents of the DataFrame into **f2**.

You should utilize your read_data and write_data from above to make this function super easy.

This function should return True when it is finished.

In [ ]:
#Begin Solution Problem 3 Here

In [8]:

import os  
import pandas as pd  

def read_data(filename):
    

    if filename.endswith('.xlsx'):  
        return pd.read_excel(filename)  
    elif filename.endswith('.json'):  
        return pd.read_json(filename) 
    elif filename.endswith('.csv'): 
        return pd.read_csv(filename, sep='|')  
    elif filename.endswith('.txt'):  
        return pd.read_csv(filename, sep='|', header=None)  
    else:  
        raise ValueError('Unsupported file format')  

def write_data(df, filename):
   

    if filename.endswith('.xlsx'):  
        df.to_excel(filename, index=False)  
    elif filename.endswith('.json'):  #condition set for json
        df.to_json(filename, orient='records')  
    elif filename.endswith('.csv'):  #csv
        df.to_csv(filename, sep='|', index=False)  
    elif filename.endswith('.txt'):  #txt
        with open(filename, 'w') as f: #write
            f.write(df.to_string(index=False, header=False))  
    else:  
        raise ValueError('Unsupported file format')  #

    return True  # 

def copy_data(f1, f2):
    
    df = read_data(f1)  
    write_data(df, f2)  

    return True

In [9]:
#End Solution Problem 3 Here

In [10]:
copy_data("hockey_player.json", "hp.txt")

False

In [147]:
df6 = read_data("hp.txt")
df6.head()

,ID,Team,Country,NameF,NameL,Weight,Height,DOB,Hometown,Prov,Pos,Age,HeightFt,HtIn,BMI
0,1,Women,Canada,Meghan,Agosta,148,5'7,540086400000,Ruthven,Ont.,Forward,35,5.583333,67,23
1,2,Women,Canada,Rebecca,Johnston,148,5'9,622598400000,Sudbury,Ont.,Forward,32,5.750000,69,22
2,3,Women,Canada,Laura,Stacey,156,5'10,768096000000,Kleinburg,Ont.,Forward,28,5.833333,70,22
3,4,Women,Canada,Jennifer,Wakefield,172,5'10,613872000000,Pickering,Ont.,Forward,33,5.833333,70,25
4,5,Women,Canada,Jillian,Saulnier,144,5'5,699926400000,Halifax,N.S.,Forward,30,5.416667,65,24

### 4. Problem **write_data2**  (OPTIONAL - No points counted for this) 

Write a function called **write_data2** that takes a DataFrame, a Filename (with extension), a list containing column names, and a list containing row numbers.

The function should write just the subset of that DataFrame containing only those columns and rows specified to the filename.

In [ ]:
#Begin Problem 4 Solution Here

In [11]:

def write_data2(df, filename, columns, rows):
    
    df_subset = df.loc[rows, columns]  
    
    ext = os.path.splitext(filename)[1]  
    if ext == '.xlsx':  
        df_subset.to_excel(filename, index=False)  
    elif ext == '.json': 
        df_subset.to_json(filename, orient='records')  
    elif ext == '.csv':  
        df_subset.to_csv(filename, sep='|', index=False)  
    elif ext == '.txt': 
        with open(filename, 'w') as f: 
            f.write(df_subset.to_csv(sep='|', index=False))  
    else:  
        raise ValueError('Unsupported file format')  
    
    return True

In [ ]:
#End Problem 4 Solution Here

In [ ]:
write_data2(df, "foo.xlsx",["ID","NameF","Country"],[0,3,5])

In [ ]:
read_data("foo.xlsx").head()

### 5. Problem **scrape_table**

Write a function called **scrape_table**.

**Parameters:**

    url: A URL to a webpage (guaranteed to have at least one table)
   
    n:   A zero based number designating the table to return

**Return:**
A dataframe with the Nth Table.

**Error_Checking:**

If N is larger than the number of tables on the page then the function should return null

In [ ]:
#Begin Problem 5 Solution Here

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup #import lib from urls

def scrape_table(url, n):
   
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    tables = soup.find_all('table')

    if n >= len(tables):
        return None

    table = tables[n]
    df = pd.read_html(str(table))[0]

    return df

In [ ]:
#End Problem 5 Solution Here

### 6. Problem **scrape_tables_to_csv**

Write a functions called **scrape_tables_to_csv**

**Parameters:**

    url: A url to a page with a least one table
    base_file_name: A filename with no extension
    maximum = 100000: Optional parameter specifying max number of tables to scrape

The function should scrape all of the tables from the url and convert them into dataframes.  The function should write either all of the dataframes or the maximum number of dataframes (whichever is smaller) into separate csv files.  

The csv files should follow the following naming convention: basefilename_table_number.  Where number is an integer starting at 0 and counting upwards with each additional table. 

This function will potentially create many files on your machine (although they will be small files). You will want to manage these files and delete them manually after most tests so you can be sure your code is continuing to work correctly.

In [ ]:
#Begin Problem 6 Solution Here

In [16]:

import pandas as pd
import requests
from bs4 import BeautifulSoup
import os

def scrape_tables_to_csv(url, base_file_name, maximum=100000):
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    tables = soup.find_all('table')
    if maximum < len(tables):
        tables = tables[:maximum]
    for i, table in enumerate(tables):
        cwd = os.getcwd()  
        filepath = os.path.join(cwd, f"{base_file_name}_table_{i}.csv")

        df = pd.read_html(str(table))[0]
        df.to_csv(filepath, index=False)

u = "https://en.wikipedia.org/wiki/Demographics_of_the_United_States/tables"
def read_data(filename):
    if filename.endswith('.json'):
        return pd.read_json(filename) 
    elif filename.endswith('.csv'):
        return pd.read_csv(filename, sep='|')  
    elif filename.endswith('.txt'):
        return pd.read_csv(filename, sep='|', header=None)

In [17]:
#End Problem 6 Solution Here

url = 'https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'
df = scrape_table(url, 0)
print(df.head())

     Country / Area UN continentalregion[4] UN statisticalsubregion[4]  \
0             India                    Asia              Southern Asia
1          China[a]                    Asia               Eastern Asia
2  United States[b]           North America           Northern America
3         Indonesia                    Asia          Southeastern Asia
4          Pakistan                    Asia              Southern Asia

   Population(1 July 2022)  Population(1 July 2023)  Change
0               1417173173               1428627663  +0.81%
1               1425887337               1425671352  −0.02%
2                338289857                339996564  +0.50%
3                275501339                277534123  +0.74%
4                235824863                240485658  +1.98%

### 7. Problem **tester**

Write a function called **tester**

Tester will accept 3 parameters: a filename (with an extension), a row_number, and a column_number.

Tester will read in that file and return the value in the dataframe in column **column_number** and row **row_number**.

In [ ]:
#Begin Problem 7 Solution Here

In [ ]:
#End Problem 7 Solution Here

In [123]:
tester("hockeyplayers.xlsx", 4, 8)

'Halifax'

In [158]:
tester("dem_table2.csv", 2, 2)

'Life expectancy'

# MINI PROJECT

Car Parking Slot Availability Checker

Description: Develop a simple program to manage Car parking slot availability near Roux-Institute@Downtown Portland.
The program should allow users to check whether a parking slot is available or not.

Requirements:
Assume total avialble parking slots as 10(ten). Write following functions:
1.	check_availability(available, slot_number): Check if the given slot_number is available. Return True if the slot is available, otherwise return False.
2.	park_car(available, slot_number): If the given slot_number is available, mark it as occupied and return a message indicating successful parking. If the slot is not available, return a message indicating unavailability.
OPTIONAL: If are familair with OOP and want to implement CLASS Method, you can create a ParkingArea class with a specified number of total parking slots.
Implement a loop that repeatedly prompts the user for a slot number and performs the following:
If the slot is available, ask the user if they want to park a car there. If yes, call the park_car method and print the corresponding message. If no, display a message indicating the slot is available. If the slot is not available, print a message indicating that the slot is occupied.

# Example Output:

Welcome to the Car Parking Area!
Total parking slots: 10
Enter a slot number to check availability (1-10) or enter -1 to exit: 5
Slot 5 is available. Do you want to park a car there? (yes/no): yes
Car parked in slot 5.
Enter a slot number to check availability (1-10) or enter -1 to exit: 5 Slot 5 is occupied.
Enter a slot number to check availability (1-10) or enter -1 to exit: 8 Slot 8 is available. Do you want to park a car there? (yes/no): no Slot 8 is available.
Enter a slot number to check availability (1-10) or enter -1 to exit: -1 Exiting the program. Thank you! Submission:

INSTRUCTIONS TO SUBMIT ASSIGNMENT:
•	Comment your code throughout and provide proper description what you are intend to do
•	Feel free to customize the assignment and the example output according to your preferences and requirements.

In [ ]:
def check_availability(available, slot_number):
    
    return slot_number in available

def park_car(available, slot_number):
    
    if check_availability(available, slot_number):
        available.remove(slot_number)
        return f"Parked car in slot {slot_number}"
    else:
        return f"Sorry, slot {slot_number} is already occupied."

available = list(range(1, 11))
while True:
   
    slot_number = input("Enter a slot number (or 'quit' to exit): ")

    if slot_number == 'quit':
        break
    slot_number = int(slot_number)
    
    if check_availability(available, slot_number):
        
        park = input(f"Slot {slot_number} is available. Do you want to park a car there? (y/n) ")
        
        if park == 'y':
            print(park_car(available, slot_number))
        else:
            print(f"Slot {slot_number} is available.")
    else:
        print(f"Sorry, slot {slot_number} is already occupied.")