
 The objective of this assignment is to demnostrate your skills in analyisng dataset using pandas.
 
 Dataset: Wimbledons championship dataset.
 Data Description: Has following variables:
                   1. Gender	
                   2. Champion	
                   3. Mins	
                   4. Runner-up Nationality	
                   5. Champion Nationality	
                   6. Runner-up	Score	
                   7. Runner-up Seed	
                   8. Champion Seed	
                   9. Year	
                   10. Runner-up Nationality (Men's)	
                   11. Runner-Up

## Task 1.
#### 1. Download dataset (wimbledons_championship.csv and Read data .csv as a pandas dataframe
#### 2. Display TOP 7 lines of the data

In [1]:
#Your solution here
# your code
import os
import pandas as pd

# Read data .csv as a pandas dataframe
df = pd.read_csv('wimbledons_champions.csv')

# Print top 7 lines and 12 columns
print(df.iloc[:7, :12])

In [14]:
##Output

,Gender,Champion,Mins,Runner-up Nationality,Champion Nationality,Runner-up,Score,Runner-up Seed,Champion Seed,Year,Runner-up Nationality (Men's),Runner-Up
0,Men's,G.L. Patterson,NaN,AUS,AUS,N.E. Brookes,"6-3, 7-5, 6-2",NaN,NaN,1919,NaN,NaN
1,Men's,G.L. Patterson,NaN,GBR,AUS,R. Lycett,"6-3, 6-4, 6-2",NaN,NaN,1922,NaN,NaN
2,Men's,N.E. Brookes,NaN,GBR,AUS,A.W. Gore,"6-4, 6-2, 6-2",NaN,NaN,1907,NaN,NaN
3,Men's,N.E. Brookes,NaN,NZL,AUS,A.F. Wilding,"6-4, 6-4, 7-5",NaN,NaN,1914,NaN,NaN
4,Men's,J.R. Borotra,80.0,FRA,FRA,J.R. Lacoste,"6-1, 3-6, 6-1, 3-6, 6-4",NaN,NaN,1924,NaN,NaN
5,Men's,J.R. Lacoste,NaN,FRA,FRA,J.R. Borotra,"6-3, 6-3, 4-6, 8-6",NaN,NaN,1925,NaN,NaN
6,Men's,J.R. Borotra,65.0,USA,FRA,H.O. Kinsey,"8-6, 6-1, 6-3",NaN,NaN,1926,NaN,NaN

End your solution here

QUESTIONS:
    1. What is the size of the dataset (total rows and columns)
    2. How data is spread between Men's and Women's champions?
    3. Display the all the countries of champions 
    4. Display champions from the following countries:
       1. USA
       2. GBR
       
    NOTE: Only display Champion name, Champion Nationality, Year, and Champion seed
    
    5. Display Runner-up name, Nationality, year, runner-up seed
    6. How many years USA has won the championship? display champion name, and year
    7. Name the champion who has won highest times - display champion name, country, year
    9. WHat is the Average "MINS" of MEN's game (WARNING: You have missing values in the dataset)
    
   
   DATA SET details:
   10. How many missing values are in the dataset (Each column information)
   
    
   #OPTIIONAL
   11. Split Score column into different columns based on sets
   12. How many played all the 5 full sets in Men's and 3 full sets in Women's to win the championship

Question 2:
     1. What is the size of the dataset (total rows and columns)

In [33]:
##Your solution here
# Reading data .csv as a pandas dataframe
df = pd.read_csv('wimbledons_champions.csv')

# Findn e size of the ds
print("Total rows:", df.shape[0])
print("Total columns:", df.shape[1])

#expected output

(253, 12)

End of Q2 solution

Q 3
3. How data is spread between Men's and Women's champions?

In [35]:
#Your code solution here
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Findn e num of Men/Women's champ
print(df['Gender'].value_counts())

#expected Output

Men's      130
Women's    123
Name: Gender, dtype: int64

In [36]:
#Q3 solution ends here

## Q4:
####    4. Display all the countries (champion nationality) of champions

In [41]:
#Your code solution here
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Displaying e countries of champ as  lst
countries = df['Champion Nationality'].value_counts().index.tolist()
print(countries)

USA    90
GBR    73
AUS    26
FRA    15
GER    12
SUI     8
SWE     7
CZE     5
ESP     4
NZL     4
BRA     3
SRB     3
CRO     1
NED     1
RUS     1
Name: Champion Nationality, dtype: int64

# Q4 solution ends here

##Question 5

### Display champions from the following countries:
       1. USA
       2. GBR
    NOTE: Only display Champion name, Champion Nationality, Year, and Champion seed
    
    2. Copy to a different dataframe and display as shown below
    3. How many records did you find for each country?

In [64]:
# Your solution here
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Findn e num of recrds for each cntry
country_counts = df['Champion Nationality'].value_counts()

# Displaying the num of recrds for each cntry
for country, count in country_counts.items():
    print(country, count)

In [65]:
#part 1
import pandas as pd

# Read data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Filtering the df by USA and GBR cntrs
usa_gbr_champions = df[(df['Champion Nationality'] == 'USA') | (df['Champion Nationality'] == 'GBR')]

# Selecting  desired columns
usa_gbr_champions = usa_gbr_champions[['Champion', 'Champion Nationality', 'Year', 'Champion Seed']]

# Displaying the champs from the USA and GBR cntrs
print(usa_gbr_champions)

##expected output here

            Champion Champion Nationality  Year  Champion Seed
7       H.L. Doherty                  GBR  1905            NaN
8          A.W. Gore                  GBR  1908            NaN
9          A.W. Gore                  GBR  1909            NaN
10         A.W. Gore                  GBR  1901            NaN
11      H.F. Lawford                  GBR  1887            NaN
..               ...                  ...   ...            ...
248  V.E.S. Williams                  USA  2000            5.0
249         S.J. Fry                  USA  1956            5.0
250      S. Williams                  USA  2012            6.0
251  V.E.S. Williams                  USA  2008            7.0
252      J.R. Susman                  USA  1962            8.0

[163 rows x 4 columns]

In [67]:
#Part 2 Question 5
# your solution

#Champ num of recrds for USA/GBR Champion Nationality, dtype: int64
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Findn the num of recrds for each cntry
country_counts = df['Champion Nationality'].value_counts()

print("USA", country_counts['USA'], "GBR", country_counts['GBR'], "Name: Champion Nationality, dtype: int64")

USA    90
GBR    73
Name: Champion Nationality, dtype: int64

ENd of Question 5

## Question 6

#### Display Runner-up name, Nationality, year, runner-up seed

In [71]:
# Your solution code here
# solution code for Runner-up name, Nationality, year, runner-up seed
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Selecting e desired columns
runner_ups = df[['Runner-up', 'Runner-up Nationality', 'Year', 'Runner-up Seed']]

# Displaying e Runner-up name, Nationality, year, and runner-up seed
print(runner_ups.to_string(index=False))

In [70]:
#Expected output here

        Runner-up Runner-up Nationality  Year Runner-up Seed
0    N.E. Brookes                   AUS  1919            NaN
1       R. Lycett                   GBR  1922            NaN
2       A.W. Gore                   GBR  1907            NaN
3    A.F. Wilding                   NZL  1914            NaN
4    J.R. Lacoste                   FRA  1924            NaN
..            ...                   ...   ...            ...
248           NaN                   NaN  2000              2
249           NaN                   NaN  1956              6
250           NaN                   NaN  2012              3
251           NaN                   NaN  2008              6
252           NaN                   NaN  1962            NaN

[253 rows x 4 columns]

In [72]:
# End of Question 6

## Question 7
###  How many years France has won the championship? display champion name, and year

In [76]:
#Your code here

import pandas as pd

# Read data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Filtering  df by Champ Nationality; select e desired columns
french_champions = df.loc[(df['Champion Nationality'] == 'FRA'), ['Champion', 'Year', 'Champion Nationality']]

# Counting  num of occurrences of each unique year
french_champions_by_year = french_champions['Year'].value_counts()

# Filtering the resulting df by the Champ Nationality column to find  num of yrs Fr has won
french_wins = french_champions_by_year.loc[french_champions_by_year.index]

# Reset the index of the df and crt a newcolum  that contains the rownum
french_champions = french_champions.reset_index()

# Displaying the Champion name, yr, Champ Nationality along with the rownum
for year, count in french_wins.items():
    print(french_champions.loc[french_champions['Year'] == year][[ 'index', 'Champion', 'Year', 'Champion Nationality']].to_string(index=False))

In [ ]:
##Expected output


     Champion          Year
4   J.R. Borotra    1924
5   J.R. Lacoste    1925
6   J.R. Borotra    1926
57  H.J. Cochet     1929
93  J.R. Lacoste    1928
115 H.J. Cochet     1927
120 Y.F.M. Petra    1946
142 S.R.F. Lenglen  1925
143 S.R.F. Lenglen  1923
144 S.R.F. Lenglen  1919
145 S.R.F. Lenglen  1920
146 S.R.F. Lenglen  1921
147 S.R.F. Lenglen  1922
148 A. Mauresmo     2006
149 M. Bartoli      2013

In [2]:
##End of Question 7

## Quetion 8
###  Name the top 10 champions who have won highest championship titles - display champion name, country,

In [78]:
# Your solution here
# HINT: use pandas groupby() function

In [93]:
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Groupn the df by Champion and counting the num of wins
champion_wins = df.groupby(['Champion', 'Champion Nationality']).size().reset_index(name='Wins')

# Sortnthe df by num of wins in descending order
sorted_champion_wins = champion_wins.sort_values(by='Wins', ascending=False)

# Selectn the top 10 champs with the highest numb of wins
top_10_champions = sorted_champion_wins.head(10)

# Displn the top 10 champs with their country and num of wins
print(top_10_champions.to_string(index=False))

           Champion Champion Nationality  Score
69   M. Navratilova                  USA      9
117    W.C. Renshaw                  GBR      7
85       P. Sampras                  USA      7
109       S.M. Graf                  GER      7
93       R. Federer                  SUI      7
111  S.R.F. Lenglen                  FRA      6
66        L.W. King                  USA      6
15        B.R. Borg                  SWE      5
34    G.W. Hillyard                  GBR      5
31       F.S. Moody                  USA      5

#### End of Question 8

## Question 9
### WHat is the Average "MINS" of MEN's game (WARNING: You have missing values in the dataset

In [98]:
## Your solution

In [ ]:
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Filtrn the df to include only men's matches
men_df = df[df['Gender'] == "Men's"]

# Calculatn the mean of the 'Mins' column
average_mins = men_df['Mins'].mean()

# Displn the average min of men
print("The average min of men is:", average_mins)

100.29787234042553

#### End of solution 9

## Question 10
#### How many missing values are in the dataset (Each column information)

In [100]:
## Your solution code here:
# HINT: use isnull()

In [99]:
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Countn the num of missing values in each column
missing_values = df.isnull().sum()

# Displn the num of missin values in each column
print("Number of missing values in each column:")
print(missing_values)

Gender                             0
Champion                           0
Mins                              65
Runner-up Nationality            123
Champion Nationality               0
Runner-up                        123
Score                              0
Runner-up Seed                    89
Champion Seed                     88
Year                               0
Runner-up Nationality (Men's)    130
Runner-Up                        130
dtype: int64

### End of Question 10

## Question 11. 
####  1. Separate dataset into two datasets (dataframes) based on <b>Gender<b> - "Men's and Women's"
####  2. Display as shown below

In [16]:
# Your solution here
# YOur code here

#Grouping the ds by gender; wmn ds
import pandas as pd

# Reading data .csv as a pandas df
df = pd.read_csv('wimbledons_champions.csv')

# Groupn the dfby Gender
gender_groups = df.groupby('Gender')

# Creatn separate df for Men'/Women's games
men_games = gender_groups.get_group("Women's")

# Displn the first 5 rows of Men's games
print("Women's games:")
print(women_games.head())

In [19]:
#Grouping the ds by gender; men ds
import pandas as pd

# Reading data .csv as a pandas ds
df = pd.read_csv('wimbledons_champions.csv')

# Selecting the rows with Gender "Men's"
men_df = df.loc[df['Gender'] == "Men's"]

# Selecting the rows from M.D. Stich 
men_df = men_df.iloc[122:130]
print(men_df)

,Gender,Champion,Mins,Runner-up Nationality,Champion Nationality,Runner-up,Score,Runner-up Seed,Champion Seed,Year,Runner-up Nationality (Men's),Runner-Up
245,Women's,D.J. Hart,35.0,NaN,USA,NaN,"6-1, 6-0",4,3.0,1951,USA,S.J. Fry
246,Women's,L.W. King,68.0,NaN,USA,NaN,"6-3, 3-6, 6-1,",2,4.0,1966,BRA,M.E.A. Bueno
247,Women's,F.S. Moody,100.0,NaN,USA,NaN,"6-3, 3-6, 7-5",3,4.0,1935,USA,H.H. Jacobs
248,Women's,V.E.S. Williams,84.0,NaN,USA,NaN,"6-3, 7-6 (7-3)",2,5.0,2000,USA,L.A. Davenport
249,Women's,S.J. Fry,50.0,NaN,USA,NaN,"6-3, 6-1,",6,5.0,1956,GBR,A. Buxton
250,Women's,S. Williams,122.0,NaN,USA,NaN,"6-1, 5-7, 6-2",3,6.0,2012,POL,A. Radwańska
251,Women's,V.E.S. Williams,111.0,NaN,USA,NaN,"7-5, 6-4",6,7.0,2008,USA,S.J. Williams
252,Women's,J.R. Susman,57.0,NaN,USA,NaN,"6-4, 6-4,",NaN,8.0,1962,TCH,C. Sukova

,Gender,Champion,Mins,Runner-up Nationality,Champion Nationality,Runner-up,Score,Runner-up Seed,Champion Seed,Year,Runner-up Nationality (Men's),Runner-Up
122,Men's,M.D. Stich,153.0,GER,GER,B.F. Becker,"6-4, 7-6 (7-4), 6-4",2,6.0,1991,NaN,NaN
123,Men's,A.R. Ashe,125.0,USA,USA,J.S. Connors,"6-1, 6-1, 5-7, 6-4",1,6.0,1975,NaN,NaN
124,Men's,R. Savitt,62.0,AUS,USA,K.B. McGregor,"6-4, 6-4, 6-4",7,6.0,1951,NaN,NaN
125,Men's,R. Falkenburg,125.0,AUS,USA,J.E. Bromwich,"7-5, 0-6, 6-2, 3-6, 7-5",2,7.0,1948,NaN,NaN
126,Men's,S.B.B. Wood,NaN,USA,USA,F.X. Shields,walk over,3,7.0,1931,NaN,NaN
127,Men's,R.P.S. Krajicek,94.0,USA,NED,M.O. Washington,"6-3, 6-4, 6-3",U,NaN,1996,NaN,NaN
128,Men's,G.S. Ivanisevic,182.0,AUS,CRO,P.M. Rafter,"6-3, 3-6, 6-3, 2-6, 9-7",3,NaN,2001,NaN,NaN
129,Men's,B.F. Becker,198.0,USA,GER,K.M. Curren,"6-3, 6-7 (4-7), 7-6 (7-3), 6-4",8,NaN,1985,NaN,NaN

### End of Question 11

# Question 12

Create two NumPy arrays, array1 and array2, each containing 5 integer elements of your choice.

Perform the following operations on the arrays:
a. Calculate the sum of the elements in each array.
b. Find the element-wise product of the arrays.
c. Calculate the mean value of each array.

Create a new NumPy array, array3, containing 10 random floating-point numbers between 0 and 1.

Perform the following operations on array3:
a. Find the maximum and minimum values in the array.
b. Reshape the array into a 2x5 matrix.
c. Calculate the square root of each element.

Concatenate array1 and array2 horizontally to create a new array, concatenated_array.

Display the results of all calculations and operations.

In [ ]:
#Sum of elem in arr
import numpy as np

array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([6, 7, 8, 9, 10])

sum1 = sum(array1)
sum2 = sum(array2)

print("Sum of array1:", sum1)
print("Sum of array2:", sum2)

In [ ]:
#Product
import numpy as np

array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([6, 7, 8, 9, 10])

In [ ]:
#mean Value
import numpy as np

array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([6, 7, 8, 9, 10])

array1_mean = np.mean(array1)
array2_mean = np.mean(array2)

print("Mean value of array1:", array1_mean)
print("Mean value of array2:", array2_mean)

In [ ]:
##arr3, consistn 10 random float-point numb btwn 0 and 1
import numpy as np

array3 = np.random.rand(10)
print(array3)

In [ ]:
#reshp_arr
import numpy as np

array3 = np.random.rand(10)
print("Original array:")
print(array3)

array3_reshaped = array3.reshape(2, 5)
print("Reshaped array:")
print(array3_reshaped)

In [ ]:
#square root of each element in Reshaped array
import numpy as np

arr = np.array([[0.91981378, 0.90628575, 0.33108305, 0.42876311, 0.17134328],
                [0.48042849, 0.75128114, 0.37609701, 0.95816295, 0.73715592]])

sqrt_arr = np.sqrt(arr)

print(sqrt_arr)

In [ ]:
#Concat  arr1/arr2 horizontally to create a new array, concatenated_array.

import numpy as np

array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([6, 7, 8, 9, 10])

concatenated_array = np.hstack((array1, array2))
print(concatenated_array)